body{
	background-color: #393e46;
	font-family : Helvetica;
	color : white;
}

#webglCanvas{
	width : 1300px;
	height : 700px;
	/* margin : auto; */
	box-shadow: 2px 2px 10px black;
}

#myDiv{
	width : 1900px;
	height : 800px;
	background-color : #222831;
	margin-left : auto;
	margin-right : auto;
	margin-top : auto;
	margin-bottom: auto;
	text-align: center;
	box-shadow: 2px 2px 5px black;
}

#controlDiv{
	width : 500px;
	height : auto;
	background-color : #222831;
	/* margin-left : 10px; */
	float : left;
	/* border : 1px solid black; */
	box-shadow: 2px 	2px 10px black;
}
#controlDiv2{
	width : 500px;
	height : auto;
	background-color : #222831;
	/* margin-left : 10px; */
	float : left;
	box-shadow: 2px 	2px 10px black;
}

#canvasDiv{
	/* float : center; */
	width : 1300px;
	/* margin-left : 10px; */
	float : left;

}
#myTable{
	color : #eeeeee;
	width : 500px;
	margin-right : auto;
	margin-left : auto;
	margin-bottom: 10px;
	/* margin-top : 10px; */
	border-collapse : collapse;
	overflow : hidden;
	font-family : Helvetica;
	text-align: center;

}

th{
	background-color : #393e46;
	border-bottom : 2px solid #d65a31;
	height : 50px;
	color : #eeeeee;
	font-size : 18px;
}

tr{
	height : 40px;
	background-color : #393e46;
	/* border-bottom : 2px solid #393e46; */
	text-align : center;
}

td{
	width : 50%;
}
/**Modificaciones de todas las filas impares de la tabla*/
tbody tr:nth-child(even) {
  background-color : #222831;
}

/* Modificacion de los range slider*/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 5px;
  background: #d65a31;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modificaciones cuando pongo el mouse encima del range slider*/
.slider:hover {
  opacity: 1;
}

/* Modificaciones del manejador en chrome, safari, etc */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border : 2px solid gray;
  border-radius : 20px;
  background: white;
}

/*Modificador del manejador en firefox*/
.slider::-moz-range-thumb {
  width: 11px;
  height: 11px;
  border : 2px solid gray;
  border-radius : 20px;
  background: white;
}

input[type=text]{
	background-color : white;
	border-radius : 10px;
	border : 2px solid gray;
	margin-left:5px; width: 30px;
	text-align : center;

}

/**Modificaciones a los botones*/
button {
  background-color : rgba(0,0,0,0);
  border: 2px solid #d65a31;
  border-radius : 10px;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
	color : white;

}

/**Modificaciones cuando pongo el mouse encima del boton*/
button:hover {
  background-color: #d65a31;
  color: white;
	box-shadow: 2px 2px 5px #d65a31;
}

#botonActivar{
	background-color : rgba(0,0,0,0);
	border: 2px solid #d65a31;
	border-radius : 10px;
	padding: 5px 10px;
	text-align: center;
	font-size: 12px;
	transition-duration: 0.4s;
	color : white;
}
